@font-face {
  font-family: nb;
  src: url(NBInternationalProBoo.woff2);
}

@font-face {
  font-family: Rejoin;
  src: url(Rejouice-Headline.woff2);
}




*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
html body {
  height: 100%;
  width: 100%;
}
#page1{
  height: 100vh;
  width: 100% ;
  background-color: red;
  position: relative;

}

.cursor{
  height: 7vw;
  width: 7vw;
  border-radius: 50%;
  background-color: #FF5F38;
  position: fixed;
  z-index: 9;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translate(-50% ,-50%);
}
.cursor h6{
  font-size: 1.2vw;
  font-family: nb;
  font-weight: 100;
  color: rgb(26, 25, 25);
}

#page1>video{
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: absolute;
}

.page1-content{
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0);
  position: relative;
  z-index: 10;
  color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;


}

nav{
  /* height: 100px; */
  width: 100%;
  display: flex;
  justify-content: space-between;
  /* background-color:  red ; */
  padding: 3vw 3vw;

}
nav>h3{
  font-size: 1.4vw;
  font-weight: 400;
}

.page1-content>h1{
  font-size: 27vw;
  font-family: Rejoin;

  font-weight: 500;
  line-height: 19vw;
}

.page1-content>h1>span{
  font-family: Rejoin;
}

.page3{
  min-height: 100vh;
  width: 100%;
  position: relative;
  padding: 3vw;


}

.page3-top{
  /* background-color:  red ; */
  text-align: center;
}
.page3-top h4{
  margin-bottom: 1vw;
  font-size: 1vw;
  font-weight: 500;
}
.page3-top h4 span {
  font-size: 0.7vw;
  color: white;
  background-color: black;
  padding: 4px 10px;
  border-radius: 10px;
  text-align: center ;
  
  
}
.page3-top h2{
  font-size: 4vw;
  font-weight: 400;
}

.page3-elements{
  height: 38vw;
  width: 100%;
  /* background-color: red ; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 8vw;
}
.page3-elements .box{
  height: 100%;
  width: 32.5%;
  /* background-color: blue; */
  position: relative;

}

.page3-elements .box video{
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;

}

.page3-elements .box img {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: linear 0.8s;
}
.page3-elements .box:hover img {
  opacity: 0;
}


.page4{
  height: 50vw;
  width: 100%;
  display: flex;
  /* position: relative; */
  justify-content: center;
  align-items: center;
  /* flex-direction: column; */
}

.page4 video{
  height: 100%;
}


.page5{
  padding: 2vw ;
  height: 50vw;
  width: 100%;
  
}

.page5-top h1{
  font-weight: 50;
  font-family: Rejoin;
  font-size: 1.8vw;
  /* margin-top: 8vw; */
}

.page5-top h2{
  font-weight: 50;
  font-family: Rejoin;
  font-size: 1.8vw;
  margin-bottom: 2vw;  
}

.page5-top 
{
  border-bottom: 1px solid rgba(59, 55, 55, 0.753);
  margin-bottom: 7vw;
}

.page5-bottom h1
{

  font-family: nb;
  font-size: 4vw;
  font-weight: 100;  
}


.page4-side h1{
  font-family: Rejoin;
  font-size: 2.5vw;
  font-weight: 50;
  
}

.page6{
  height: 50vw;
  width: 100%;
}

.page6-top{
  padding: 2vw;
  border-bottom: 1px solid black;
}

.page6-top h1{
  font-family: Rejoin;
  font-size: 9vw;
  font-weight: 100;
  /* background-color: red; */
}
.swiper{
  height: 30vw;
  width: 100%;
  /* background-color: red; */
  position: relative;
}


